#create{
    background-image: url("https://static.zawya.com/view/acePublic/alias/contentid/NGFjZWU4OTgtZjM1Yi00/37/1298181272.webp");
    background-position: center center;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    width: 100%;

}

#create:before {
    background-color: rgba(0, 0, 0, 0.8);
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #create .createArea {
    display: inline;
    float: left;
    padding: 20% 20%;
    width: 120%;
  }

  #create .createArea .createForm {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline;
    padding: 50px;
    float: left;
    width: 150%;
  }

  #create .createArea .createForm .formTitle {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
  }

  
#create .createArea .createForm .formTitle .createHome {
    color: #0a0909;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  #create .createArea .createForm .formTitle h4 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  #create .createArea .createForm .propertyTypeField {
    display: inline;
    float: left;
    width: 100%;
   
    margin-bottom: 20px;
  }

  #create .createArea .createForm .propertyTypeField {
    color: #000;
    display: inline-block;
    text-align: left;
  }
 
.container{
    display: flex;
    justify-content: center;
     align-items: center;
     margin: 5em;
}

